<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="imageWatcherConfiguration" type="ImageWatcher.Configuration.ImageWatcherConfigurationSection, ImageWatcher" />
    </configSections>
    <appSettings>
        <add key="SBConnectionString" value="Endpoint=sb://messagequeuestask.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=eZrzUCBPE+R+VlHed0FMkCqcUV6SzfDoAhXD9e2EmPk=" />
        <add key="QueueName" value="imageswatcherqueue" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <imageWatcherConfiguration>
        <imagesWatchers>
            <imagesWatcher inFolder="D:\imageWatcher\watcher1\in" outFolder="D:\imageWatcher\watcher1\out" corruptedFolder="D:\imageWatcher\watcher1\corrupted" prefix="img" />
            <imagesWatcher inFolder="D:\imageWatcher\watcher2\in" outFolder="D:\imageWatcher\watcher2\out" corruptedFolder="D:\imageWatcher\watcher2\corrupted" prefix="img" />
            <imagesWatcher inFolder="D:\imageWatcher\watcher3\in" outFolder="D:\imageWatcher\watcher3\out" corruptedFolder="D:\imageWatcher\watcher3\corrupted" prefix="img" />
        </imagesWatchers>
    </imageWatcherConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
