<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="imageWatcherConfiguration" type="ImageWatcher.Configuration.ImageWatcherConfigurationSection, ImageWatcher"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <imageWatcherConfiguration>
        <imagesWatchers>
            <imagesWatcher inFolder="D:\imageWatcher\watcher1\in" outFolder="D:\imageWatcher\watcher1\out" corruptedFolder="D:\imageWatcher\watcher1\corrupted" prefix="img"/>
            <imagesWatcher inFolder="D:\imageWatcher\watcher2\in" outFolder="D:\imageWatcher\watcher2\out" corruptedFolder="D:\imageWatcher\watcher2\corrupted" prefix="img"/>
            <imagesWatcher inFolder="D:\imageWatcher\watcher3\in" outFolder="D:\imageWatcher\watcher3\out" corruptedFolder="D:\imageWatcher\watcher3\corrupted" prefix="img"/>
        </imagesWatchers>
    </imageWatcherConfiguration>
</configuration>
